* {
  margin: 0;
  padding: 0;
}

body{
  font-family:"Open Sans","OpenSans",sans-serif;
  font-size: 0.9em;
  font-size: 16px;
  font-weight: 300;
  background-color: #225d7e;
}
nav {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding-top: 15px;
  height: 25px;
}
.top-left{
  width: 40%;
  float: left;
  padding-left: 20px;
}
nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}
.top-links {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0 20px 0 0;
  font-size: 20px;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
}
.logo{
  width: 100px;
}
.first-line{
  font-size: 15px;
}
.find-pack{
  width: 60%;
  height: 20px;
  margin: 10px;
  border: 0;
  color: rgba(255,255,255,0.8);
  background: rgb(31, 82, 111);
  }
.search-button{
  background: rgb(31, 82, 111);
  border:1px solid rgba(255,255,255,0.2);
  font-size:16px;
  color: white;
}
.link{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 15px;
}
.header{
  height: 450px;
  background: url('images/city-scape.svg') no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.header h1{
  color: white;
  width: 40%;
  margin: 0 0 0 200px;
  padding: 40px 0 40px 0;
}
.header p{
  font-size: 18px;
  color: white;
  position: relative;
  margin: 0 0 0 200px
}
.header input{
  color: white;
  padding: 8px 25px;
  border-radius: 50px;
  margin-top: 25px;
  margin-bottom: 5px;
  margin-left: 200px;
  background: rgb(240, 146, 51);
}
.collaboration{
  height: 100px;
  margin: auto;
  background: rgb(39, 53, 71);
  color: white;
  padding: 20px 0 400px 0;
  }
.friends{
  height: 550px;
  width:500px;
  padding-left: 15%;
}
.text-friends{
  width: 35%;
  padding-left: 5%;
  padding-top: 10%;
  float: right;
  color: white;
  line-height: 50px;
  }
.text-friends input{
  color: white;
  padding: 10px 30px;
  border-radius: 50px;
  margin-top: 25px;
  margin-bottom: 5px;
  margin-right: 200px;
  display: inline-block;
  background: rgb(203, 56, 55);
}
.question{
  height: 450px;
  background: url('images/forklift.svg') no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.question h1{
  color: white;
  width: 40%;
  margin: 0 0 0 200px;
  padding: 40px 0 40px 0;
  section: relative;
}
.question p{
  font-size: 18px;
  color: white;
  position: relative;
  margin: 0 0 0 200px;
}
.question input{
  color: white;
  padding: 8px 25px;
  border-radius: 50px;
  margin-top: 25px;
  margin-bottom: 5px;
  margin-left: 200px;
  background: rgb(49, 68, 88);
  position: relative;
}
.blocks{
  background: white;
  height: 100px;
  margin: auto;
  color: rgb(83, 88, 98);
  padding: 20px 0 400px 0;
  text-align: center;
}
.blocks p{
  color: rgb(83, 88, 98);
}
.no-links{
  color: rgb(208, 74, 73);
  text-decoration: none;
}
.col{
  float:left;
  margin-top: 50px;
}
.col-3{
  width: 20%;
}
.col-izq{
  margin-left: 10%;
  margin-top: 50px;
}
.col-med{
  margin: 0 10%;
  margin-top: 50px;
}
.col-der{
  margin-right: 10%;
  margin-top: 50px;
}
